body{
  background-color:#F5F5DC;
  color:#2E0000;
  font-family: Arial;
  background-image: url(../images/football1.jpg);
}

nav>ul>li>a{
  font-weight: bold;
  text-decoration: none;
}

nav{
  text-align: center;
  padding: 10px;
  float: left;
  width: 160px;
}

nav>ul{
  list-style: none;
  padding-left: 0;
  font-size: 1.2em;
}

nav>ul>li>a:link{
 color:#795240;
}

nav>ul>li>a:visited{
  color: #A58366;
}

nav>ul>li>a:hover, nav>ul>li>a:focus{
  color: #F5F5DC;
}

h1{
  font-family: Georgia;
  height: 100px;
  margin: 0;
  background-image: url(../images/javalogo.gif);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

h2{
  font-family: Georgia;
}

h3{
  text-transform: uppercase;
}

ul{
  list-style-image: url(../images/marker.gif);
}

footer{
  font-size: .60em;
  font-style: italic;
  text-align: center;
  background-color:#D2B48C;
  color:#000000;
  padding: 10px;
}

footer:hover, footer:focus{
  color: #F5F5DC;
}

footer:link{
  color: #2E0000;
}

footer:visited{
  color:#000000;
}



dt{
  font-weight: bold;
}

header{
  background-color:#D2B48C;
}

#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #E2D2B0;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 3px 3px 3px #2E0000;
}

main{
  padding: 20px;
  display: block;
  background-color: #F5F5DC;
  margin-left: 175px;
}

main>img{
  float: left;
  padding-right: 2em;
}

main>ul{
  list-style-position: inside;
}

main>article{
  margin-left: 20%;
  margin-right: 20%;
  overflow: auto;
  font-size: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

#hero{
  height: 300px;
  color: #f5f5dc;
  background-image: url(../images/heroroad.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header, main, nav, footer, figure, figcaption, aside, section, article{
  display:block;
}

.media{
  display:none;
}

.desktop{
  display:inline;
}

label{
  float:left;
  text-align:right;
  width:120px;
  padding: 1em;
}

input{
  display:block;
  margin-bottom:20px;
}

textarea{
  display:block;
  margin-bottom:20px;
}

input[type-sumbit]{
  margin-left:130px;
}



@media only screen and (max-width: 64em){
  body{
    margin:0;
    background-color:#D2B48C;
    background-image:none;
  }
  #wrapper{
    min-width:0;
    width:auto;
    box-shadow:none;
  }
  h1{
    margin:0;
    background-image:url(../images/javalogomobile.gif);
  }
  main{
    margin-left:0;
  }

  nav{
    float:none;
    width:auto;
    padding:0;
  }
  nav>ul{
    text-align:center;
  }
  nav>ul>li{
    display:inline;
    padding-top:0;
    padding-bottom:0;
    padding-left:.75em;
    padding-right:.75em;
  }
}

@media only screen and (max-width:37.5em){
  nav>ul>li{
    display:inline-block;
    width:5em;
    font-size:120%;
    text-align:center;
    box-shadow:2px 2px 2px #330000;
    background-color:#F5F5DC;
    margin:1%;
    padding:2.5%;
  }
  nav:hover{
    display:block;
    color:#333300;
  }
  main:link{
   color:#FFFFFF; 
  }
  main:visited{
    color:#EAEAEA;
  }
  main:hover{
    color:#FFD700;
  }
  article{
    margin:0;
  }
  article>img{
    display:none;
  }
  #hero{
    height:auto;
  }
  .mobile{
    display:inline;
  }
  .desktop{
    display:none;
  }
  label{
    float:none;
    text-align:left;
  }
  input[type-sumbit]{
    margin-left:0;
  }
}

table{
  text-align:center;
  margin:auto;
  width:80%;
}

table>tr>th, table>tr>td{
  padding:10px;
}

tr:nth-of-type(odd){
  background-color:#D2B48C;
}
  





